
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="./css/style.css">
   <script src="/js/app1.js"></script>
</head>
<body>
    <div class="main-content">
 {{>header}}
<p>{{error_v}}</p>
    </div>
   
{{>footer}}
</body>
</html>
