<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/style.css">
     <link rel="icon" href="/img/weather.png">
   <script src="/js/app1.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
    
    <p> {{help}}</p>
    </div>
     
    {{>footer}}
</body>
</html>